@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
    display: flex;
}

.game-container {
    height: 100vh;
    flex-grow: 1;
}

.chatbox {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: black;
}

.messages-container {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    flex-grow: 1;
    padding: 0.75rem;
}

.message-container {
    margin-top: 0.65rem;
}

.message-container:first-of-type {
    margin-top: 0;
}

.message-card {
    display: inline-flex;
    padding: 0.375rem 0.625rem 0.375rem 0.625rem;
}

.message-username {
    color: rgba(var(--vc-colors-primary-200), 1);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.message-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.chat-input {
    padding-right: 4rem;
}

.send-button {
    width: 3rem;
    margin-right: 1.25rem;
}

.game-input {
    width: 400px;
    height: 80px;
    font-size: 50px;
}

.player_container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'P8 . P1 . P2'
        '. A7 A0 A1 .'
        'P7 A6 Bomb A2 P3'
        '. A5 A4 A3 .'
        'P6 . P5 . P4'
        '. . Cycle . .'
        '. . Timer . .';
}
.P1 {
    grid-area: P1;
}
.P2 {
    grid-area: P2;
}
.P3 {
    grid-area: P3;
}
.P4 {
    grid-area: P4;
}
.P5 {
    grid-area: P5;
}
.P6 {
    grid-area: P6;
}
.P7 {
    grid-area: P7;
}
.P8 {
    grid-area: P8;
}
.Bomb {
    grid-area: Bomb;
    opacity: 0.5;
}
.Timer {
    grid-area: Timer;
}
.A0 {
    grid-area: A0;
    transform: rotate(90deg);
}
.A1 {
    grid-area: A1;
    transform: rotate(135deg);
    visibility: hidden;
}
.A2 {
    grid-area: A2;
    transform: rotate(180deg);
    visibility: hidden;
}
.A3 {
    grid-area: A3;
    transform: rotate(225deg);
    visibility: hidden;
}
.A4 {
    grid-area: A4;
    transform: rotate(270deg);
    visibility: hidden;
}
.A5 {
    grid-area: A5;
    transform: rotate(315deg);
    visibility: hidden;
}
.A6 {
    grid-area: A6;
    visibility: hidden;
}
.A7 {
    grid-area: A7;
    transform: rotate(45deg);
    visibility: hidden;
}
.Cycle {
    grid-area: Cycle;
}

.bomb {
    position: relative;
    background-repeat: no-repeat;
    z-index: 5;
    transform-origin: 0 0;
}

.bomb-animation {
    animation: below_bomb 0.2s ease-in-out infinite alternate;
}

.center {
    text-align: center;
}

.lightgreen {
    color: lightgreen;
}

/* bomb ticking animation */
@keyframes below_bomb {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.01);
    }
}

/* shake input form on wrong input */
.shake-input {
    animation: shake 0.15s ease-in-out 0s 1;
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
  }

/* fly in text */
.fly-in {
    animation: fly-in 0.1s linear;
}

@keyframes fly-in {
    0% { transform: translateY(-25%); }
    100% { transform: translateY(0%); }
}

.innerCenter {
    font-size: 30px;
    position: absolute;
    top: 55%;
    left: 43%;
    transform: translate(-50%, -50%);
}
